.navbar-inverse .navbar-inner {
background-color: #1b1b1b;
background-image: -moz-linear-gradient(top,#043485,#043485);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#043485),to(#043485));
background-image: -webkit-linear-gradient(top,#043485,#043485);
background-image: -o-linear-gradient(top,#043485,#043485);
background-image: linear-gradient(to bottom,#043485,#043485);
background-repeat: repeat-x;
border-color: #043485;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#043485',endColorstr='#043485',GradientType=0);
}

.navbar-inverse .brand, .navbar-inverse .nav>li>a {
color: #fff;
text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}

.wit{
color:#fff;

}

.bl a, .bl a:link,  .bl a:hover   { color: #000; }

.nvmicon {
	padding-top: 2px;
}
